.content_nav {
  display: flex;
  height: auto;
  width: 100%;
  box-sizing: border-box;
  padding: 2rem;
  background-image: url('./fondo_nav.jpg');
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
}

.content_ordenar label {
  color: white;
}

.content_filtrar label {
  color: white;
}

.content_crear_actividad button:hover {
  transition-duration: 0.8s;
  transform: scale(1.1);
  cursor: pointer;
}

@media (min-width: 300px) {
  .content_nav {
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }
}

@media (min-width: 768px) {
  .content_nav {
    flex-direction: row;
  }
}

@media (min-width: 1024px) {
  .content_nav {
    flex-direction: row;
    justify-content: space-around;
  }
}
